In [16]:
import pandas as pd
import datetime

# total confirmed count list
# it needs to get max number for xaxis
x = datetime.datetime.now()
year = str(x.year)[0:2]
daily_report = f"{x.month}/{int(x.strftime('%d'))-2}/{year}"

url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
df = pd.read_csv(url, error_bad_lines=False)

df = df.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Country_Region', 'Lat', 'Long_', 'Combined_Key'], axis=1)
confirmed_df = df.groupby("Province_State").sum().reset_index()
confirmed_df = confirmed_df.drop(2)
total_confirmed_df = confirmed_df[['Province_State', f'{daily_report}']]
total_confirmed_count_list = total_confirmed_df.drop(['Province_State'], axis=1)
total_confirmed_count_list

    11/25/20
0     239318
1      29543
3     310850
4     150277
5    1160940
6     210630
7     109152
8      32995
9         49
10     20516
11    961676
12    457909
13       103
14      6705
15     17764
16     96503
17    685467
18    312521
19    221286
20    150292
21    166139
22    225638
23     11027
24    188161
25    214594
26    352433
27    289303
28    145636
29    289002
30     58565
31    117682
32    142240
33     18846
34    317905
35     88102
36    613266
37    346506
38     75478
39       104
40    382743
41    184342
42     68503
43    333465
44     48725
45     52317
46    210905
47     76142
48    347972
49   1196711
50    183902
51      3827
52      1521
53    226300
54    153906
55     43050
56    392438
57     30761