In [2]:
import pandas as pd
import datetime

tod = datetime.datetime.now()
d = datetime.timedelta(days = 3)
x = tod - d
daily_report = f"{x.month}-{int(x.strftime('%d'))}-{x.year}"
# print(daily_report)
# #global confirmed, deaths, recovered
url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{daily_report}.csv'
daily_df = pd.read_csv(url)
daily_df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-01 05:26:18,33.939110,67.709953,46274,1795,36788,7936.0,Afghanistan,119.445111,3.815218
1,NaN,NaN,NaN,Albania,2020-12-01 05:26:18,41.153300,20.168300,38182,810,18849,18523.0,Albania,1326.777399,2.121418
2,NaN,NaN,NaN,Algeria,2020-12-01 05:26:18,28.033900,1.659600,83199,2431,53809,26959.0,Algeria,189.730949,2.921910
3,NaN,NaN,NaN,Andorra,2020-12-01 05:26:18,42.506300,1.521800,6745,76,5873,796.0,Andorra,8729.696499,1.126761
4,NaN,NaN,NaN,Angola,2020-12-01 05:26:18,-11.202700,17.873900,15139,348,7851,6940.0,Angola,46.062425,2.298699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,NaN,NaN,NaN,West Bank and Gaza,2020-12-01 05:26:18,31.952200,35.233200,85647,732,64987,19928.0,West Bank and Gaza,1678.886803,0.854671
3972,NaN,NaN,NaN,Western Sahara,2020-12-01 05:26:18,24.215500,-12.885800,10,1,8,1.0,Western Sahara,1.674116,10.000000
3973,NaN,NaN,NaN,Yemen,2020-12-01 05:26:18,15.552727,48.516388,2191,619,1510,62.0,Yemen,7.345948,28.251940
3974,NaN,NaN,NaN,Zambia,2020-12-01 05:26:18,-13.133897,27.849332,17647,357,16998,292.0,Zambia,95.991309,2.023007
3975,NaN,NaN,NaN,Zimbabwe,2020-12-01 05:26:18,-19.015438,29.154857,9950,276,8482,1192.0,Zimbabwe,66.945091,2.773869