In [46]:
import pandas as pd
import datetime

x = datetime.datetime.now()
year = str(x.year)[0:2]
daily_report = f"{x.month}/{int(x.strftime('%d'))-1}/{year}"

df = pd.read_csv('data/time_series_covid19_confirmed_US.csv')
df = df.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Country_Region', 'Lat', 'Long_', 'Combined_Key'], axis=1)
confirmed_df = df.groupby("Province_State").sum().reset_index()
confirmed_df = confirmed_df[['Province_State', f'{daily_report}']]
confirmed_df

              Province_State  11/23/20
0                    Alabama    234080
1                     Alaska     28273
2             American Samoa         0
3                    Arizona    302324
4                   Arkansas    146190
5                 California   1128219
6                   Colorado    202289
7                Connecticut    106740
8                   Delaware     32211
9           Diamond Princess        49
10      District of Columbia     20290
11                   Florida    944745
12                   Georgia    451056
13            Grand Princess       103
14                      Guam      6452
15                    Hawaii     17596
16                     Idaho     93090
17                  Illinois    664620
18                   Indiana    300913
19                      Iowa    214792
20                    Kansas    144792
21                  Kentucky    160232
22                 Louisiana    221160
23                     Maine     10544
24                  Maryland    183797
25             Massachusetts    208623
26                  Michigan    340964
27                 Minnesota    276500
28               Mississippi    143879
29                  Missouri    280645
30                   Montana     56381
31                  Nebraska    115921
32                    Nevada    136227
33             New Hampshire     18082
34                New Jersey    309588
35                New Mexico     84148
36                  New York    602120
37            North Carolina    339194
38              North Dakota     73397
39  Northern Mariana Islands       104
40                      Ohio    363304
41                  Oklahoma    177874
42                    Oregon     66333
43              Pennsylvania    320158
44               Puerto Rico     48200
45              Rhode Island     50573
46            South Carolina    207552
47              South Dakota     73848
48                 Tennessee    344550
49                     Texas   1159863
50                      Utah    179420
51                   Vermont      3714
52            Virgin Islands      1507
53                  Virginia    221038
54                Washington    147537
55             West Virginia     41114
56                 Wisconsin    379693
57                   Wyoming     29431